<div class="container-fluid">
    <app-movie-list class="mb-4" (movieIdEmitter)="open($event, filmDetailsModal)"></app-movie-list>
    <app-top-rated-list class="mt-2" (movieIdEmitter)="open($event,filmDetailsModal)"></app-top-rated-list>
</div>

<ng-template #filmDetailsModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title fw-bold" id="modal-basic-title">{{selectedMovie.title}}</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
        <h5 class="h5 fw-bold">Genres</h5>
		<ul class="list-group">
            <li class="list-group-item" *ngFor="let genre of selectedMovie.genres">{{genre.name}}</li>
        </ul>
        <h5 class="h5 fw-bold mt-1">Overview</h5>
        <p class="modal-text">{{selectedMovie.overview}}</p>
        <h5 class="h5 fw-bold mt-1">Release Date</h5>
        <p class="modal-text">{{selectedMovie.release_date}}</p>
        <h5 class="h5 fw-bold mt-1">Revenue</h5>
        <p class="modal-text">{{selectedMovie.revenue}}$</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">Close</button>
	</div>
</ng-template>
