<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="overflow-x-hidden">
    <div class="banner">
      <div class="container d-flex">
        <img [src]="setImgURL()" alt="Movie Poster" class="mr-2" />
        <div class="d-flex flex-column">
          <h4>
            {{ movie.original_title }}<span> ({{ getReleaseYear() }})</span>
          </h4>
          <p>{{ movie.release_date }} | {{ getGenres() }}</p>
          <circle-progress
            [percent]="85"
            [subtitle]="'User Score'"
            [radius]="30"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'#21CF7A'"
            [animation]="true"
            [animationDuration]="300"
            [titleFontSize]="'15'"
            [titleColor]="'#FFFFFF'"
            [unitsColor]="'#FFFFFF'"
            [subtitleColor]="'#FFFFFF'"
          ></circle-progress>
          <p class="lead">{{ movie.tagline }}</p>
          <h5>Overview</h5>
          <p>{{ movie.overview }}"</p>
        </div>
      </div>
    </div>

    <div class="container d-flex flex-wrap justify-content-around">
      <iframe class="mt-2"
        *ngFor="let t of trailers"
        [src]="t"
        width="400px"
        height="250px"
        frameborder="0"
      ></iframe>
    </div>
  </body>
</html>
